# Scraping News Articles

### https://towardsdatascience.com/scraping-news-and-articles-from-public-apis-with-python-be84521d85b9

Summary:

1. **New York Times**: Only provides meta information about the article, not the article itself.
2.

In [1]:
import requests
import os
from pprint import pprint
import pandas as pd

# New York Times

In [7]:
with open('../../../../api_keys/nytimes/api_key.txt') as f:
    apikey = f.readline()

The simplest query we can do with NY Times API is look up for current top stories. The snippet below is very straightforward. We run a GET request against `topstories/v2` endpoint supplying `section` name and our API key. Section in this case is science, but NY Times provides a lot of other options here, e.g. fashion, health, sports or theater. Full list can be found in the link below. This specific request would produce response that would look something like this:

In [87]:
# Top Stories: https://developer.nytimes.com/docs/top-stories-product/1/overview
section = "science"
query_url = f"https://api.nytimes.com/svc/topstories/v2/{section}.json?api-key={apikey}"

r = requests.get(query_url)
# pprint(r.json())

In [90]:
r.json().keys()

dict_keys(['status', 'copyright', 'section', 'last_updated', 'num_results', 'results'])

In [94]:
type(r.json()['results'])

list

In [95]:
data = pd.json_normalize(r.json()['results'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   section              25 non-null     object
 1   subsection           25 non-null     object
 2   title                25 non-null     object
 3   abstract             25 non-null     object
 4   url                  25 non-null     object
 5   uri                  25 non-null     object
 6   byline               25 non-null     object
 7   item_type            25 non-null     object
 8   updated_date         25 non-null     object
 9   created_date         25 non-null     object
 10  published_date       25 non-null     object
 11  material_type_facet  25 non-null     object
 12  kicker               25 non-null     object
 13  des_facet            25 non-null     object
 14  org_facet            25 non-null     object
 15  per_facet            25 non-null     object
 16  geo_facet            25 non-null     object
 17  multimedia           25 non-null     object
 18  short_url            25 non-null     object
dtypes: object(19)
memory usage: 3.8+ KB

In [97]:
data.head()

   section  ...                short_url
0    world  ...  https://nyti.ms/2Qfhh8Z
1  science  ...  https://nyti.ms/3aLQtGQ
2   health  ...  https://nyti.ms/2Qh2hHK
3   health  ...  https://nyti.ms/2QaUJ9s
4   health  ...  https://nyti.ms/2YlflQU

[5 rows x 19 columns]

Next and probably the most useful endpoint when you are trying to get some specific set of data is the article search endpoint.

This endpoint features lots of filtering options. The only mandatory field is `q (query)`, which is the search term. Beyond that you can mix and match filter query, date range (`begin_date`, `end_date`), page number, sort order and facet fields. The filter query (`fq`) is interesting one, as it allows use of Lucene query syntax, which can be used to create complex filters with logical operators (`AND`, `OR`), negations or wildcards. Nice tutorial can be found in the link below.

In [98]:
# Article Search: https://developer.nytimes.com/docs/articlesearch-product/1/routes/articlesearch.json/get to explore API
# https://api.nytimes.com/svc/search/v2/articlesearch.json?q=<QUERY>&api-key=<APIKEY>

query = "politics"
begin_date = "20200701"  # YYYYMMDD
filter_query = "\"body:(\"Trump\") AND glocations:(\"WASHINGTON\")\""  # http://www.lucenetutorial.com/lucene-query-syntax.html
page = "0"  # <0-100>
sort = "relevance"  # newest, oldest
query_url = f"https://api.nytimes.com/svc/search/v2/articlesearch.json?" \
            f"q={query}" \
            f"&api-key={apikey}" \
            f"&begin_date={begin_date}" \
            f"&fq={filter_query}" \
            f"&page={page}" \
            f"&sort={sort}"

r = requests.get(query_url)
# pprint(r.json())

In [99]:
r.json().keys()

dict_keys(['status', 'copyright', 'response'])

In [100]:
data = pd.json_normalize(r.json()['response']['docs'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   abstract                 10 non-null     object
 1   web_url                  10 non-null     object
 2   snippet                  10 non-null     object
 3   lead_paragraph           10 non-null     object
 4   print_section            4 non-null      object
 5   print_page               4 non-null      object
 6   source                   10 non-null     object
 7   multimedia               10 non-null     object
 8   keywords                 10 non-null     object
 9   pub_date                 10 non-null     object
 10  document_type            10 non-null     object
 11  news_desk                10 non-null     object
 12  section_name             10 non-null     object
 13  type_of_material         10 non-null     object
 14  _id                      10 non-null     object
 15  word_count               10 non-null     int64
 16  uri                      10 non-null     object
 17  headline.main            10 non-null     object
 18  headline.kicker          1 non-null      object
 19  headline.content_kicker  0 non-null      object
 20  headline.print_headline  3 non-null      object
 21  headline.name            0 non-null      object
 22  headline.seo             0 non-null      object
 23  headline.sub             0 non-null      object
 24  byline.original          9 non-null      object
 25  byline.person            10 non-null     object
 26  byline.organization      0 non-null      object
 27  subsection_name          5 non-null      object
dtypes: int64(1), object(27)
memory usage: 2.3+ KB

In [101]:
data.head()

                                            abstract  ... subsection_name
0  A backstage fixture at Democratic conventions,...  ...             NaN
1  Jon Meacham’s remarks at this week’s Democrati...  ...             NaN
2  She grew up around Berkeley activists but came...  ...        Politics
3  Party strategists pay a lot of attention to re...  ...             NaN
4  Ms. Louis-Dreyfus was the final television sta...  ...        Politics

[5 rows x 28 columns]

Last endpoint for NY Times that I will show here is their Archive API which returns list of articles for given month going back all the way to 1851! This can be very useful if you need bulk data and don’t really need to search for specific terms.

In [58]:
# Archive Search
# https://developer.nytimes.com/docs/archive-product/1/overview

year = "2020"  # <1851 - 2020>
month = "7"  # <1 - 12>
query_url = f"https://api.nytimes.com/svc/archive/v1/{year}/{month}.json?api-key={apikey}"

r = requests.get(query_url)
# pprint(r.json())

In [59]:
print(r.json().keys())
print(r.json()['response'].keys())
print(type(r.json()['response']['docs']), len(r.json()['response']['docs']))

dict_keys(['copyright', 'response'])
dict_keys(['meta', 'docs'])
<class 'list'> 6553

In [60]:
data = pd.json_normalize(r.json()['response']['docs'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6553 entries, 0 to 6552
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   abstract                 6553 non-null   object
 1   web_url                  6553 non-null   object
 2   snippet                  6553 non-null   object
 3   lead_paragraph           6553 non-null   object
 4   print_section            4078 non-null   object
 5   print_page               4078 non-null   object
 6   source                   6553 non-null   object
 7   multimedia               6553 non-null   object
 8   keywords                 6553 non-null   object
 9   pub_date                 6553 non-null   object
 10  document_type            6553 non-null   object
 11  news_desk                6553 non-null   object
 12  section_name             6553 non-null   object
 13  subsection_name          2646 non-null   object
 14  type_of_material         6445 non-null   object
 15  _id                      6553 non-null   object
 16  word_count               6553 non-null   int64
 17  uri                      6553 non-null   object
 18  headline.main            6553 non-null   object
 19  headline.kicker          1525 non-null   object
 20  headline.content_kicker  0 non-null      object
 21  headline.print_headline  4092 non-null   object
 22  headline.name            0 non-null      object
 23  headline.seo             0 non-null      object
 24  headline.sub             0 non-null      object
 25  byline.original          5893 non-null   object
 26  byline.person            6553 non-null   object
 27  byline.organization      174 non-null    object
 28  slideshow_credits        55 non-null     object
dtypes: int64(1), object(28)
memory usage: 1.4+ MB

In [77]:
data.head()

                                            abstract  ... slideshow_credits
0  A small-time businessman became a key middlema...  ...               NaN
1  The so-called Capitol Hill Organized Protest a...  ...               NaN
2  Surging outbreaks in the U.S. Embassy and the ...  ...               NaN
3  Journalists have been wary of Alden Global Cap...  ...               NaN
4  Adam Hollingsworth, known in Chicago as the Dr...  ...               NaN

[5 rows x 29 columns]

In [82]:
print(data.iloc[0]['snippet'])

A small-time businessman became a key middleman for bounties on coalition troops in Afghanistan, U.S. intelligence reports say. Friends saw him grow rich, but didn’t know how.

In [84]:
data.iloc[0]['abstract']

'A small-time businessman became a key middleman for bounties on coalition troops in Afghanistan, U.S. intelligence reports say. Friends saw him grow rich, but didn’t know how.'

In [85]:
data.iloc[0]['lead_paragraph']

'KABUL, Afghanistan — He was a lowly drug smuggler, neighbors and relatives say, then ventured into contracting, seeking a slice of the billions of dollars the U.S.-led coalition was funneling into construction projects in Afghanistan.'

In [86]:
data.iloc[0]['headline.main']

'Afghan Contractor Handed Out Russian Cash to Kill Americans, Officials Say'

# Guardian

Next up is another great source of news and articles — The Guardian. Same as with NY Times, we first need to sign up for an API key. You can do so [here](https://bonobo.capi.gutools.co.uk/register/developer) and you will receive your key in an email. With that out of the way, we can navigate to [API documentation](https://open-platform.theguardian.com/documentation/) and start querying the API.

In [102]:
with open('../../../../api_keys/guardian/api_key.txt') as f:
    apikey = f.readline()

Let’s start simply by querying content sections of The Guardian. These sections group content into topics, which can be useful if you are looking for specific type of content, e.g. science or technology. If we omit the query ( q) parameter, we will instead receive full list of sections, which is about 75 records.

In [105]:
# https://open-platform.theguardian.com/documentation/section
query = "science"
query_url = f"https://content.guardianapis.com/sections?" \
            f"api-key={apikey}" \

r = requests.get(query_url)
# pprint(r.json())

In [111]:
print(r.json().keys())
print(r.json()['response'].keys())

dict_keys(['response'])
dict_keys(['status', 'userTier', 'total', 'results'])

In [114]:
data = pd.json_normalize(r.json()['response']['results'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  75 non-null     object
 1   webTitle            75 non-null     object
 2   webUrl              75 non-null     object
 3   apiUrl              75 non-null     object
 4   editions            75 non-null     object
 5   activeSponsorships  2 non-null      object
dtypes: object(6)
memory usage: 3.6+ KB

In [115]:
data.head()

                id  ... activeSponsorships
0            about  ...                NaN
1   animals-farmed  ...                NaN
2     artanddesign  ...                NaN
3   australia-news  ...                NaN
4  better-business  ...                NaN

[5 rows x 6 columns]

Moving on to something little more interesting — searching by tags. This query looks quite similar to the previous one and also returns similar kinds of data. Tags also group content into categories, but there are a lot more tags (around 50000) than sections. Each of these tags have structure like for example `world/extreme-weather`. These are very useful when doing search for actual articles, which is what we will do next.

In [117]:
# https://open-platform.theguardian.com/documentation/tag
query = "weather"
section = "news"
page = "1"
query_url = f"http://content.guardianapis.com/tags?" \
            f"api-key={apikey}" \
            f"&q={query}" \
            f"&page={page}"

r = requests.get(query_url)
#pprint(r.json())

In [119]:
data = pd.json_normalize(r.json()['response']['results'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           10 non-null     object
 1   type         10 non-null     object
 2   sectionId    9 non-null      object
 3   sectionName  9 non-null      object
 4   webTitle     10 non-null     object
 5   webUrl       10 non-null     object
 6   apiUrl       10 non-null     object
 7   description  1 non-null      object
dtypes: object(8)
memory usage: 768.0+ bytes

In [120]:
data.head()

                                 id  ... description
0  theguardian/mainsection/weather2  ...         NaN
1                   weather/weather  ...         NaN
2  australia-news/australia-weather  ...         NaN
3             world/extreme-weather  ...         NaN
4                us-news/us-weather  ...         NaN

[5 rows x 8 columns]

The one thing you really came here for is article search and for that we will use https://open-platform.theguardian.com/documentation/search.

The reason I first showed you section and tag search is that those can be used in the article search. Above you can see that we used `section` and `tag` parameters to narrow down our search, which values can be found using previously shown queries. Apart from these parameters, we also included the obvious `q` parameter for our search query, but also starting date using `from-date` as well as `show-fields` parameter, which allows us to request extra fields related to the content - in this case those would be headline, byline, rating and shortened URL. There's bunch more of those with full list available [here](https://open-platform.theguardian.com/documentation/search).

In [121]:
query = "(hurricane OR storm)"
query_fields = "body"
section = "news"  # https://open-platform.theguardian.com/documentation/section
tag = "world/extreme-weather"  # https://open-platform.theguardian.com/documentation/tag
from_date = "2019-01-01"
query_url = f"https://content.guardianapis.com/search?" \
            f"api-key={apikey}" \
            f"&q={query}" \
            f"&query-fields={query_fields}" \
            f"&section={section}" \
            f"&tag={tag}" \
            f"&from-date={from_date}" \
            f"&show-fields=headline,byline,starRating,shortUrl"

r = requests.get(query_url)
#pprint(r.json())

In [122]:
r.json().keys()

dict_keys(['response'])

In [123]:
data = pd.json_normalize(r.json()['response']['results'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  7 non-null      object
 1   type                7 non-null      object
 2   sectionId           7 non-null      object
 3   sectionName         7 non-null      object
 4   webPublicationDate  7 non-null      object
 5   webTitle            7 non-null      object
 6   webUrl              7 non-null      object
 7   apiUrl              7 non-null      object
 8   isHosted            7 non-null      bool
 9   pillarId            7 non-null      object
 10  pillarName          7 non-null      object
 11  fields.headline     7 non-null      object
 12  fields.byline       7 non-null      object
 13  fields.shortUrl     7 non-null      object
dtypes: bool(1), object(13)
memory usage: 863.0+ bytes

In [124]:
data.head()

                                                  id  ...         fields.shortUrl
0  news/2019/dec/19/weatherwatch-storms-hit-franc...  ...  https://gu.com/p/dv4dq
1  news/2020/jan/31/weatherwatch-how-repeated-flo...  ...  https://gu.com/p/d755m
2  news/2019/sep/18/weatherwatch-do-30-year-mortg...  ...  https://gu.com/p/cakmm
3  news/2019/jul/17/weatherwatch-venice-supercell...  ...  https://gu.com/p/bq6ad
4  news/2019/oct/25/weatherwatch-volunteers-world...  ...  https://gu.com/p/chhdj

[5 rows x 14 columns]

In [126]:
data.iloc[2]['fields.headline']

'Weatherwatch: do 30-year mortgages make sense as sea levels rise faster annually?'

# Currents 

Finding popular and good quality news API is quite difficult as most classic newspapers don’t have free public API. There are however, sources of aggregate news data which can be used to get articles and news from newspapers like for example Financial Times and Bloomberg which only provide paid API services or like CNN doesn’t expose any API at all.

One of these aggregators is called [Currents API](https://currentsapi.services/en). It aggregates data from thousands of sources, 18 languages and over 70 countries and it’s also free.

It’s similar to the APIs shown before. We again need to first get API key. To do so, you need to register at https://currentsapi.services/en/register. After that, go to your profile at https://currentsapi.services/en/profile and retrieve your API token.

With key (token) ready we can request some data. There’s really just one interesting endpoint and that’s https://api.currentsapi.services/v1/search:

In [128]:
with open('../../../../api_keys/currents_news_articles/api_key.txt') as f:
    apikey = f.readline()

In [144]:
# https://currentsapi.services/en/docs/search
category = "business"
# language = languages['English']  # Mapping from Language to Code, e.g.: "English": "en"
# country = regions["Canada"]  # Mapping from Country to Code, e.g.: "Canada": "CA",
language = "en",
country = "'CA",
keywords = "bitcoin"
t = "1"  # 1 for news, 2 for article and 3 for discussion content
domain = "financialpost.com"  # website primary domain name (without www or blog prefix)
start_date = "2020-06-01T14:30"  # YYYY-MM-DDTHH:MM:SS+00:00
query_url = f"https://api.currentsapi.services/v1/search?" \
            f"apiKey={apikey}" \
            f"&language={language}" \
            f"&category={category}" \
            f"&country={country}" \
            f"&type={t}" \
            f"&domain={domain}" \
            f"&keywords={keywords}" \
            f"&start_date={start_date}"

r = requests.get(query_url)
pprint(r.json())

{'news': [], 'status': 'ok'}

In [132]:
r.json().keys()

dict_keys(['status', 'news'])

In [133]:
data = pd.json_normalize(r.json()['news'])
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

In [147]:
# language = languages['English']
language = 'en'
query_url = f"https://api.currentsapi.services/v1/latest-news?" \
            f"apiKey={apikey}" \
            f"&language={language}"

r = requests.get(query_url)
# pprint(r.json())

In [148]:
r.json().keys()

dict_keys(['status', 'news', 'page'])

In [149]:
data = pd.json_normalize(r.json()['news'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           30 non-null     object
 1   title        30 non-null     object
 2   description  30 non-null     object
 3   url          30 non-null     object
 4   author       30 non-null     object
 5   image        30 non-null     object
 6   language     30 non-null     object
 7   category     30 non-null     object
 8   published    30 non-null     object
dtypes: object(9)
memory usage: 2.2+ KB

In [150]:
data.head()

                                     id  ...                  published
0  06d68120-cc63-4ca0-84be-62a104409781  ...  2020-08-22 14:52:36 +0000
1  66e6ae89-0090-4061-b04b-2b9d5b9d85be  ...  2020-08-22 15:00:56 +0000
2  85e4dcfc-ad28-4899-9f0b-a2eab0b354a0  ...  2020-08-22 02:36:00 +0000
3  6985a85c-7072-4130-872f-b1da024d14d6  ...  2020-08-21 03:27:01 +0000
4  96d996dd-f76a-4640-bcf6-b88230a2dac6  ...  2020-08-22 10:30:07 +0000

[5 rows x 9 columns]

In [152]:
data.groupby("author")['id'].count()

author
@BBCNews                                         5
@Variety                                         1
@nypost                                          1
DAN SEWELL and JULIE CARR SMYTH                  1
EMILY WAGSTER PETTUS                             1
Emily Peck, Felix Salmon, and Anna Szymanski     1
JENNIFER PELTZ                                   1
bbc                                              6
timesunion                                       1
yahoo                                           12
Name: id, dtype: int64